
/* Обобщающие стили  */

html {
    font-family: 'Inter';
    background-color: #F9F9FA;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
   
footer {
    margin-top: auto;
}

.container {
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.back-transform {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

menu li {
    list-style: none;
}

/* cursor */

a, button, select {
    cursor: pointer;
}
/* Color */


.light-text {
    color: #FFFFFF;
}

.grey-colorText {
    color: #5B5B5B;
}

.accent-color {
    color: #FBC401;
}

.text__accent {
    color: #4419EF;
}

.black-text {
    color: #333333;
}

.text-color__bark {
    color: #111111;
}

.demiBlack {
    color: #160E34;
}