
@import url(../css/style.css);

/* Обобщающие стили  */

html {
    font-family: 'Inter';
    background-color: #F9F9FA;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
   
footer {
    margin-top: auto;
}

.container {
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.back-transform {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

menu li {
    list-style: none;
}

/* flex */

.flex {
    display: flex;
}

.space-between__property {
    display: flex;
    justify-content: space-between;
}

.content-center {
    display: flex;
    justify-content: center;
}

.сentral-text {
    text-align: center;
}

.flex-start__property {
    display: flex;
    justify-content: flex-start;
}

/* cursor */

a, button, select {
    cursor: pointer;
}