.header-container__link {
    align-items: center;
}

.header {
    padding-top: 30px;
    padding-bottom: 36px;
}

.header-container {
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.link-arrow {
    padding-right: 6px;
}

.language, .language:link {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: none;
}
