.breadcrumbs {
    float: right;
    padding-left: 6vw;
}

.section-container {
    width: 75%;
}

.section-mainTitle {
    font-weight: 800;
    font-size: 54px;
    line-height: 60px;
    padding-top: 4vw;
    padding-bottom: 2.5vw;
}

.section-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    padding-bottom: 1.27vw;
}

.section-lastHeading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding: 1.582vw 0 1.25vw;
}

.breadcrumbs-element  {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    
    margin-bottom: 1.12vw;
    border-bottom: 1px dashed #1111114a;
}

.section-text__marker {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;

    color: #333333;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.section-text__link {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;

    color: #4419EF;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 24px 0px
}