@import url(../page_3/css/media.css);

.breadcrumbs {
    float: right;
    padding-left: 6vw;
}

.section-container {
    width: 75%;
}

.section-mainTitle {
    padding-top: 4vw;
    padding-bottom: 2.5vw;
}

.section-text {
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    padding-bottom: 1.27vw;
}

.section-lastHeading {
    padding: 1.582vw 0 1.25vw;
}

.breadcrumbs-element  {
    display: inline-block;

    margin-bottom: 1.12vw;
    border-bottom: 1px dashed #1111114a;
}

.section-text__marker {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.section-text__link {
    color: #4419EF;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 24px 0px
}