.content {
  transition: max-height 0.6s;
  overflow: hidden;
}
.content[aria-hidden=true] {
  max-height: 0;
}
.content[aria-hidden=false] {
  max-height: var(--qestionContainerHeight, 1000px);
}

/* Everything after this is merely aesthetics */
* {
  box-sizing: border-box;
}

.qestionContainer {
  font-family: sans-serif;
  line-height: 1.2;
}

button {
  border: none;
}

.trigger {
  font-size: 1em;
  display: flex;
  align-items: center;
  /* padding: 0 20px; */
  min-height: 30px;
  /* border: 2px solid #3ecf8e; */
  border-radius: 20px;
  background-color: transparent;
  color: #212121;
}
.trigger:focus {
  /* border: 2px solid #222; */
  outline: 0;
}
[data-drawer-showing=true] .trigger {
  /* background-color: #3ecf8e; */
  /* border: 2px solid transparent; */
}

.qestionContainerContainer + .qestionContainer {
  /* margin-top: 20px; */
}

.content {
  display: flex;
  /* margin: 1em; */
  line-height: 1.4;
  max-width: 800px;
}