@import url(../css/media.css);

section {
    
}          

.affiliate-description {
    padding: 20px 0 84px;
    font-weight: 600;
}

.info-block__wrap {
    max-width: 990px;
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.65) 100%);
    opacity: 0.9;
    backdrop-filter: blur(13.5914px);
    border-radius: 24px;
}

.affiliate-fon {
    padding: 32px 0 75px;    
    background-image: url(../../include/img/gradient-fon.png)
} 

.info-block__wrap {
    padding: 30px;
}

.info-block:first-child {
    padding-bottom: 36px;
}

.info-block__position {
    display: flex;
    justify-content: space-between;

}

.info-block__element {
    flex-direction: column;
    flex-wrap: wrap;
}

.info-block__element img {
    padding-top: 25px;
    margin: auto
}

.info-title {
    padding-bottom: 24px;
}

.signature-img {
    width: 150px;
    padding-top: 30px;
    text-align: center;
}