@import url(../css/media.css);

.pricing-fon {
    background-position: 20px 210px;
    background-image: url(../img/price-fon.png)
}

/* Тарифные планы */

.pricing-header {
    font-weight: 800;
    font-size: 54px;
    line-height: 60px;

    padding: 76px 0 54px;
}

.pricing-info, .pricing-block {
    width: 20%;
}

.pricing-punct {
    color: #5B5B5B;
}

.pricing-punct__marker {
    font-style: normal;
}

.pricing-punct__accent {
    font-style: normal;
    text-decoration-line: underline;
    color: #4419EF;
}


.pricing-punct__marker {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #160E34;
}

.pricing-punct__accent {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;

    color: #4419EF
}

.price-tail {
    padding-left: 4px;
}


/* Вопросы и ответы*/

.section-guestions {
    padding: 48px 0;
    max-width: 1140px;
}

.questions-heading {
    padding-bottom: 78px;
} 

.pricing-container {
    justify-content: space-between;
}

.pricing-title {
    padding-bottom: 18px;
}

.pricing-currency {
    padding-top: 4px;
    line-height: 26px;
    padding-right: 2px;
}

.pricing-cost {
    /* font-weight: 700; */
}

.pricing-triva {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    padding-top: 8px;
}

.pricing-onTime {
    color: #5b5b5bb7;
    /* opacity: 0.7; */
}

.pricing-button {
    text-align: center;
    /* padding: 8px 64px; */
    padding: 8px 0;
    width: 85%;

    border: 1.5px solid #5B5B5B;
    background: rgba(255, 255, 255, 0);
    border-radius: 12px;
}

.pricing-block > .pricing-button:last-child {
    background-color: #FBC401;
}

.pricing-button:hover {
    background: #FBC401;
    border: none;
}

.pricing-component {
    width: 45%;
}

.question {
    padding-bottom: 10px;
}

.answer {
    font-style: normal;
    font-weight: normal;

    padding-bottom: 42px;
}

/* Order (Заказ)*/

.section-order {
    justify-content: center;
}

.order-back__fon {
    background-image: url(../img/order-fon.png);
}

.order-container {
    justify-content: space-around;
}


.order-info {
    width: 50%;
    align-items: center;
}

.order-title {
    padding-bottom: 18px;
}

.order-text {
    font-style: normal;
    font-weight: normal;
    opacity: 0.8;
}

.price-box {
    padding: 0 24px;
    padding-bottom: 24px;
}

.price-block__header {
    height: 16.4%;
    padding-top: 30px;   
    margin-bottom: 32px;
}

.pricing-block {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 74.24%);
    opacity: 0.75;
    backdrop-filter: blur(13.5914px);
    border-radius: 24px;
}

.pricing-block__element {
    padding: 20px 0;
    border-bottom: 1px solid #5b5b5b3b;
    margin: 0 auto;
    flex-flow: row nowrap;
    align-items: center;
}

.pricing-block__element > img {
    padding-left: 5px;
}

.pfa-info__img {
    padding: 98px 0;
    /* padding-right: 2.4vw; */
}