.header-container {
    padding: 30px 0;
    max-width: 1650px;  
    min-width: 650px;      
    margin: 0 auto;
}

.nav-container, .header-container {
    align-items: center;
}

.nav-container {
    min-width: 50%;
    justify-content: space-between;
}

.header-link {
    color: #F9F9FA;
    opacity: 0.5;   
    padding-right: 5%;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.header-link:last-child {
    padding-right: 0%;
}

/* 2 header */

.header-container-min__link {
    align-items: center;
}

.header-min {
    padding-top: 30px;
    padding-bottom: 36px;
}

.header-container__min {
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.link-arrow {
    padding-right: 6px;
}