.header-link {
    color: #160E34;
    opacity: 0.5; 
    padding-right: 42px;    
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.menu > li:last-child > a {
    padding-right: 0px;
  }