.section-fon  {
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.main-heading {
    text-align: center;
    padding: 5% 0;
}

.section-container {
    margin: 0 auto;
    justify-content: space-between;
    padding: 68px 0;
    max-width: 1110px;
}

.section-informationMaterials {
    background: #F9F9FA;
}

.information-heading {
    padding-bottom: 24px;
}

.informate-aside {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.information-link {
    width: 150px;
    color: #5B5B5B;
    padding-bottom: 15px;
}

.information-link:hover {
    font-weight: 300;
    color: #4419EF;
}

.information-link:last-child {
    padding-bottom: 15px;
}

::-webkit-input-placeholder { /* для webkit-браузеров */
    color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* для браузеров Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}
:-moz-placeholder { /* для браузеров Firefox 18- */
    color: rgba(255, 255, 255, 0.5);;
}
:-ms-input-placeholder { /* для браузеров IE */
    color: rgba(255, 255, 255, 0.5);
}

.qestions-wrap {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.qestion {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 74.24%);    
    backdrop-filter: blur(13.5914px);
    width: 75%;
    padding: 36px;
    border-radius: 24px;
}

.qestion-header {
    font-style: normal;
    padding-bottom: 24px;
}

.qestion-punct {
    padding-left: 10px;
    cursor: pointer;
}

.qestion-punct__description {
    padding: 15px 0 0 40px;
    max-width: 100%;
    font-size: 17px;
    line-height: 25px;
}

.qestion-doc__container {
    align-items: center;
    padding-bottom: 18px;
}

.qestion-doc__container:last-child {
    padding-bottom: 32px;
}

