footer {
    padding: 30px 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid #5B5B5B;
}

.footer-top_container {
    width: 50%;
    padding: 30px 0 25px;
    margin: auto;
}

.footer-top_link {
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
}

.footer-top_link:hover {
    color: #4419EF;
}

.footer-lower_copyright {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #5B5B5B;
    padding-top: 30px;
}

.payment {
    height: 50%;
}

