footer {
    padding: 30px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5B5B5B;
}

.footer-top_container {
    width: 70%;
    padding: 30px 0 25px;
    margin: auto;
}

.footer-top_link {
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
}

.footer-top img {
    margin: auto
}

.footer-top_link:hover {
    color: #4419EF;
}

.footer-lower_copyright {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #5B5B5B;
    padding-top: 30px;
}

.payment {
    height: 50%;
}

@media (max-width: 1100px)  {
    .footer-top {
        flex-direction: column;
    }
    
    .footer-top_container {
        width: 100%;
        padding: 30px 0 25px;
        flex-wrap: wrap;
        gap: 26px;
        justify-content: center;
        /* margin: auto; */
    }
}

@media (max-width: 650px) {
    .footer-top_container {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
}