/* header, main information */

.color-back__dark {
    background-color: #131126;
}

.dark-back__main {
    background-image: url("../img/1-main_informaion/back-blur.png");
    background-position: center -15%;
}

.space {
    padding-top: 268px;
    margin-bottom: 8vw;
}

.introduction-black {
    padding-top: 76px;
    z-index: 1; 
}

/* .section-container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    width: 100%; 
}*/

.text-box {
    padding-top: 18px;
}

.introduction-text {
    font-weight: 500;
    color: #F9F9FA;
}

.introduction-btn  {
    font-weight: 600;
}

.introduction-header:first-child {
    /* padding-top: 5%; */
}

.introduction-btn_black {
    padding-top: 24px;
    /* padding-bottom: 34%; */
    display: flex;
}

.example-black {   
    max-width: 946px;
    margin: 48px auto calc(268px * -1);
    padding: 9px;
    background: radial-gradient(54.78% 54.78% at 14.93% 19.5%,rgba(255,255,255,.13) 0,rgba(192,197,243,0.53) 100%);
    backdrop-filter: blur(13.5914px);
    border-radius: 24px;
    border: 1px solid;
    border-image-source: radial-gradient(91.63% 60.58% at 17.26% 5.28%,rgba(255,255,255,.47) 0,rgba(255,255,255,.0001) 100%);
}

.example-black__img {
    border-radius: 15px;
    width: 100%;
}

/* advantages (Приемущества) */
.section-center {
    justify-content: center;
}

.section-advantages {
    max-width: 75%;
    margin: 0 auto; 
    /* margin-bottom: 6.3vw; */
}

.advantages-section {
    margin-top: 268px;
}
  
.advantage-item__img {
    display: block;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
}

.advantage-item__header {
    padding-top: 10px;
}

.advantages-wrapper {
    padding-top: 140px;
    padding-bottom: 134px;
}

.advantage-item {
    max-width: 255px;
    text-align: center;
    padding: 120px 12px 0;
    margin: 0 13px;
}

.advantage-icon__fast {
    background-image: url(../img/2-advantages/3.1-fast-delivery.svg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.advantage-icon__satisfied {
    background-image: url(../img/2-advantages/3.2-Satisfied.svg);
    background-repeat: no-repeat;
    background-position: center 0; 

}

.advantage-icon__effective {
    background-image: url(../img/2-advantages/3.3-effective.svg);
    background-repeat: no-repeat;
    background-position: center 0; 
}

.advantage-icon__purpose {
    background-image: url(../img/2-advantages/3.4-Multi-purpose.svg); 
    background-repeat: no-repeat;
    background-position: center 0;
}

.advantage-item__text {
    margin-top: 12px;
}

.advantage-item__text, .benefits-bloc__text, .footer-top_link {
    color: #333333;
}

/* Your Benefits (Выгоды) */
.benefits-bloc__text {
    font-weight: normal;
}

.bg-light-gradient {
    background-image: url(../../include/img/gradient-fon.png);
}

.benefits-block { 
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.65) 100%);
    backdrop-filter: blur(13.5914px); 
    position: relative;
    margin: 0 12px;
    opacity: 0.9;
    border-radius: 24px;
    padding: 174px 30px 69px;
}

.benefits-block:first-child { 
    margin-left: 0;
}

.benefits-bloc__img {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 30px;
    top: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
}

.icon-ranking {
    background-image: url(../img/4-BenefitsForBusiness/4.1-SEO.svg)
}

.icon-satisfied {
    background-image: url(../img/4-BenefitsForBusiness/4.2-Satisfied.svg)
}

.icon-competition {
    background-image: url(../img/4-BenefitsForBusiness/4.3-Competition.svg)
}

.benefits-header {
    padding: 78px 0;
}

.benefits-bloc__header {
    padding-bottom: 12px;
}

/* Example (Пример)*/
.examp-back__fon {
    background-image: url(../img/4-example/4_examples-fon.png)
}

.examp-back {
    text-align: center;
}

.examp-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.examp-header {
    font-weight: 800;
    font-size: 75px;
    line-height: 100%;
    font-style: normal;
    padding: 86px 0 15px;
}

.examp-header__next, .examp-text, .pfa-info__minitext  {
    opacity: 0.6;
}

.examp-text {
    color: #F9F9FA;
    padding-top: 0.65vw;
}

.examp-header__next {
    padding-bottom: 30px;
    font-weight: 400;
}

.examp-text:hover {
    font-weight: 600;
    opacity: 1;
    color: #FFFFFF;
}

.examp-btn {
    margin-top: 2.9vw; 
    /* margin-bottom: 11.78vw; */
}

/* Makes It Easy To...(позволяет легко...)*/
.makes-element__black {
    align-items: flex-start;
    padding-right: 3.4%;
    padding-bottom: 4.8%;
}

.makes-element__black:last-child {
    padding-right: 0;
    padding-bottom: 0;
}

.makes-heading {
    padding-top: 9.5vw;
    padding-bottom: 5.2vw;
}

.makes-element {
    border-bottom: 1px solid #5b5b5b77;
    padding: 3.2% 0;
}

.makes-element:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
}


.makes-element-blockConainer {
    flex-wrap: wrap;

}

.makes-element__heading {
    font-weight: bold;
    width: 46%;
}

.makes-element__img {
    padding-right: 30px;
}

.makes-element__text {
    width: 267px;
}

/* Perfect for any (Идеально подходит для любого) */
.section-perfect_for_any {
    background-image: url(../img/6-pfa/6-pfa-fon.png);
}

.section-makes {
    padding-top: 8.25vw;
    padding-bottom: 6.2vw;
}

.section-pfa__container {  
    position: relative;
    flex-direction: column;
    padding-top: 8.25vw;
    float: left;
    width: 38%;
}

.pfa-info__title {
    font-style: normal;
}

.pfa-info__text {
    opacity: 0.8;
    padding-top: 18px;
    padding-bottom: 36px;
}

.pfa-info__btnNocolore {
    border: 1px solid #ffffff8f;
    border-radius: 12px;
    background: none;
    margin: 0px 10px;
    
    padding: 14px 32px;
}

.pfa-info__minitext {
    position: absolute;
    bottom: 145px;
     color: #FFFFFF;
}

.pfa-info__img {
    padding: 120px 0;
    padding-right: 5%;
}

/* review (Отзывы) */

.section-review {
    padding: 140px 0;
}

.review-title {
    padding-bottom: 78px;
}

/* Ready? (Готовы?) */

.section-ready {
    flex-direction: column;
}

.ready-back__fon {
    background-position: center;
    background-image: url("../../MainPage/img/8-ready/ready-fon.png");
    padding: 10% 0;
}

.section-ready__heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
}

.section-ready__text {
    width: 55%;
    margin: auto;
    padding: 18px 0 36px;
}

/* Order (Заказ) */

.section-order {
    justify-content: center;
}

.order-back__fon {
    background-position: bottom;
    background-image: url(../img/9-order/order-fon.png);
}

.order-info {
    width: 50%;
    align-items: center;
}

.order-title {
    padding-bottom: 18px;
}

.order-text {
    font-style: normal;
    font-weight: normal;
    opacity: 0.8;
}

@media (max-width: 1200px) {
    .advantage-item {
        flex-basis: calc(50% - 26px);
        margin-bottom: 80px;
    }

    .benefits-block {
        max-width: 300px;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }

    .example-black {
        max-width: calc(100%+32px);
    }

    .example-black__img {
        border-radius: 1.7vw;
    } 

    .section-benefits {
        flex-wrap: wrap;
    }
    
    .benefits-block {
        flex-basis: 100%;
        max-width: 780px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    
}