@import url(../../css/style.css);
@import url(../../css/template.css);
@import url(../../include/reset.css);
@import url(../../page_1/css/section.css);
@import url(../../include/header/header-black.css);
@import url(../../include/footer/footer.css);

/* Responsive starts here */

@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}

	
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
		
	.nav-container {
		width: 65%;
		justify-content: space-between;
	}
	
	/* .footer-top_container {
		width: 50%;
	} */
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
}

/* 320 Х 375 Х 428 Х 930 */