@import url(../css/media.css);

/* header, main information */

.dark-back__main {
    background-image: url(../img/1-main_informaion/dark-back__main.png);
}

.section-container {
    position: relative;
}

.text-box {
    padding-top: 18px;
}

.introduction-text {
    font-weight: 500;
    color: #F9F9FA;
}

.introduction-btn  {
    font-weight: 600;
}

.introduction-black {
    padding-top: 76px;
    z-index: 1; 
}

.introduction-header:first-child {
    padding-top: 5%;
}

.introduction-btn_black {
    padding-top: 24px;
    padding-bottom: 34%;
    display: flex;
}

.example-black {   
    background: radial-gradient(54.78% 54.78% at 14.93% 19.5%, rgba(255, 255, 255, 0.13) 0%, rgba(192, 197, 243, 0.53) 100%);
    backdrop-filter: blur(13.5914px);
    padding: 1%;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* advantages (Приемущества) */
.section-center {
    justify-content: center;
}

.section-advantages {
    max-width: 75%;
    margin: 0 auto; 
    /* margin-bottom: 6.3vw; */
}

.example-black__img {
    border-radius: 15px;
}

.advantage-block {
    width: 24%;
}

.advantage-bloc__img {
    margin: auto;
}

.advantages-section {
    margin-top: 268px;
}

.advantages-container {
    padding-top: 140px;
    padding-bottom: 134px;
}

.advantage-bloc__header {
    padding: 5% 0 6%;
}

.advantage-bloc__text, .benefits-bloc__text, .footer-top_link {
    color: #333333;
}

/* Your Benefits (Выгоды) */
.benefits-bloc__text {
    font-weight: normal;
}

.bg-light-gradient {
    background-image: url(../../include/img/gradient-fon.png);
}

.benefits-block { 
    margin-left: 1vw;
    padding: 1.95%;    
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.65) 100%);
    opacity: 0.9;
    backdrop-filter: blur(13.5914px); 
    width: 24%; 
}

.benefits-block:first-child { 
    margin-left: 0;
}

.benefits-header {
    padding: 78px 0;
}

.benefits-bloc__header {
    padding: 2.35vw 0 0.6vw;
}

/* Example (Пример)*/
.examp-back__fon {
    background-image: url(../img/4-example/4_examples-fon.png)
}

.examp-back {
    text-align: center;
}

.examp-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.examp-header {
    font-weight: 800;
    font-size: 75px;
    line-height: 100%;
    font-style: normal;
    padding: 86px 0 15px;
}

.examp-header__next, .examp-text, .pfa-info__minitext  {
    opacity: 0.6;
}

.examp-text {
    color: #F9F9FA;
    padding-top: 0.65vw;
}

.examp-header__next {
    padding-bottom: 30px;
    font-weight: 400;
}

.examp-text:hover {
    font-weight: 600;
    opacity: 1;
    color: #FFFFFF;
}

.examp-btn {
    margin-top: 2.9vw; 
    /* margin-bottom: 11.78vw; */
}



/* Makes It Easy To...(позволяет легко...)*/
.makes-element__black {
    align-items: flex-start;
    padding-right: 3.4%;
    padding-bottom: 4.8%;
}

.makes-element__black:last-child {
    padding-right: 0;
    padding-bottom: 0;
}

.makes-heading {
    padding-top: 9.5vw;
    padding-bottom: 5.2vw;
}

.makes-element {
    border-bottom: 1px solid #5b5b5b77;
    padding: 3.2% 0;
}

.makes-element:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
}


.makes-element-blockConainer {
    flex-wrap: wrap;

}

.makes-element__heading {
    font-weight: bold;
    width: 46%;
}

.makes-element__img {
    padding-right: 30px;
}

.makes-element__text {
    width: 267px;
}

/* Perfect for any (Идеально подходит для любого) */
.section-perfect_for_any {
    background-image: url(../img/6-pfa/6-pfa-fon.png);
}

.section-makes {
    padding-top: 8.25vw;
    padding-bottom: 6.2vw;
}

.section-pfa__container {  
    position: relative;
    flex-direction: column;
    padding-top: 8.25vw;
    float: left;
    width: 38%;
}

.pfa-info__title {
    font-style: normal;
}

.pfa-info__text {
    opacity: 0.8;
    padding-top: 18px;
    padding-bottom: 36px;
}

.pfa-info__btnNocolore {
    border: 1px solid #ffffff8f;
    border-radius: 12px;
    background: none;
    margin: 0px 10px;
    
    padding: 14px 32px;
}

.pfa-info__minitext {
    position: absolute;
    bottom: 145px;
     color: #FFFFFF;
}

.pfa-info__img {
    padding: 120px 0;
    padding-right: 5%;
}

/* Ready? (Готовы?) */

.section-ready {
    flex-direction: column;
}

.ready-back__fon {
    background-position: center;
    background-image: url("../../page_1/img/8-ready/ready-fon.png");
    padding: 10% 0;
}

.section-ready__heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
}

.section-ready__text {
    width: 55%;
    margin: auto;
    padding: 18px 0 36px;
}

/* Order (Заказ) */

.section-order {
    justify-content: center;
}

.order-back__fon {
    background-position: bottom;
    background-image: url(../img/9-order/order-fon.png);
}

.order-info {
    width: 50%;
    align-items: center;
}

.order-title {
    padding-bottom: 18px;
}

.order-text {
    font-style: normal;
    font-weight: normal;
    opacity: 0.8;
}